#search-container {
	position: relative;
	width: 100%;
	height: 100%;
}

#search-head {
	position: absolute;
	width: 100%;
	border: 1px solid;
}

#search-head-img {
	margin-top: 8px;
	margin-left: 10px;
	width: 8%;
	height: 8%;
}

#text-container {
	position: absolute;
	top: 6%;
	left: 10%;

	border: 1px solid;

	width: 40%;
	height: 85%;
}

#search-text {
	position: absolute;
	
	margin-left: 6px;
	margin-top: 2px;
	outline: medium;
	width: 90%;
	height: 77%;
	font-family: "Microsoft soft";
	font-size: 20px;
	border: 0;
}

#search-submit {
	position: absolute;
	background-image: url(../img/search.png);
	outline: medium;
	top: 2%;
	right: 4px;

	width: 45px;
	height: 45px;
	border: 0;
	cursor: pointer;
}

