#app {
  position: relative;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 10%;
}

#search-container {
  position: relative;
  margin: 0 auto 0 auto;
  top: 50%;
  width: 50%;
  height: 41px;
  outline: medium;
  border-radius: 10px;
  padding: 4px 15px;
}

.search-box-border-grey {
  border: solid 1px #CECCCC;
}

.search-box-border-blue {
  border: solid 1px #39F;
}

#search-text {
  position: absolute;
  width: 87.5%;
  height: 41px;

  left: 20px;
  top: 2px;
  outline: medium;
  border: 0;
  letter-spacing: 0.7px;

  font-size: 18px;
  font-family: "Microsoft soft";
}

#dropdown-content {
  display: none;
  position: absolute;
  left: -1px;
  top: 50.542px;
  background-color: #f9f9f9;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

#dropdown-content div {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#dropdown-content div:hover {
  background-color: #f1f1f1;
}

/* #search-container:hover #dropdown-content {
  display: block;
} */

#search-submit {
  position: absolute;
  height: 44.6px;
  width: 44.6px;

  top: 4.5px;
  right: 21px;
  border: 0;
/*  background-color: #39F;*/
  outline: medium;
  cursor: pointer;
  background-image: url(../img/search.png);
  border-width: 1px;
  border-style: solid;
  font-size: 24px;
  color: #FFF;
  margin: -2px 0 0 -5px;
  padding: 0px;
}

#search-comment {
  position: absolute;
  border: 1px solid;
  border-radius: 10px;
  text-align: center;
  height: 30px;
  width: 53px;
  right: 15px;
  top: 52px;
  line-height: 30px;
  visibility: hidden;
}
