a:link {
	text-decoration: none;
}

#search-container {
	position: relative;
	width: 100%;
	height: 100%;
}

#search-head {
	position: absolute;
	width: 100%;
	/* border: 1px solid; */
}

#search-head-img {
	margin-top: 8px;
	margin-left: 10px;
	width: 8%;
	height: 8%;
	cursor: pointer;
}

#text-container {
	position: absolute;
	top: 6%;
	left: 10%;

	border: 0.7px solid;
	border-radius: 10px;
	border-color: #66CCFF;
	width: 40%;
	height: 85%;
}

#search-text {
	position: absolute;
	
	margin-left: 6px;
	margin-top: 5px;
	outline: medium;
	width: 90%;
	height: 77%;
	font-family: "Microsoft soft";
	font-size: 22px;
	border: 0;
}

#dropdown-content {
  display: none;
  position: absolute;
  left: -1px;
  top: 59px;
  background-color: #f9f9f9;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

#dropdown-content div {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#dropdown-content div:hover {
  background-color: #f1f1f1;
}

/* div:not(#text-container):hover #dropdown-content {
  display: none;
} */

#search-submit {
	position: absolute;
	background-image: url(../img/search.png);
	outline: medium;
	top: 7%;
	right: 5px;

	width: 45px;
	height: 45px;
	border: 0;
	cursor: pointer;
}

#search-result {
	position: absolute;
	top: 75px;
	width: 100%;
	height: auto;
	/* height: 320px; */
	min-height: 320px;
	/* border: 1px solid; */
}

.search-item {
	position: relative;
	height: auto!important;
	min-height: 90px;
	width: 50%;
	height: 90px;
	border: 1px solid;
	margin-top: 10px;
	margin-left: 4px;
}

#tipText {
	position: relative;
	top: 10px;
	margin-left: 10px;
	font-size: 24px;
	font-family: "Microsoft soft";
	color: rgb(255, 120, 102);
	text-align: left;	
}

.item-title {
	position: relative;
	/* border: 1px solid; */
	top: 10px;
	margin-left: 10px;
	/* margin-top: 10px; */
	width: 48%;
	height: 30px;
	padding-top: 5px;
	padding-left: 5px;
	font-size: 24px;
	font-family: "Microsoft soft";
	/* color: #66CCFF; */
	text-align: left;
	/* line-height: 20px; */
}

.item-desc {
	position: relative;
	/* border: 1px solid; */
	/* margin-top: 40px; */
	/* margin-top: 50px; */
	margin-left: 10px;
	width: 97%;
	height: auto;
	padding-top: 5px;
	padding-left: 5px;
	font-size: 19px;
	font-family: "Microsoft soft";
}

.date-desc {
	position: relative;
	margin-left: 10px;
	/* border: 1px solid; */
	width: 97%;
	height: auto;
	padding-left: 5px;
	color: rgb(144, 30, 210);
	font-size: 11px;
	font-family: "Microsoft soft";
}

/* #footer {
	position: absolute;
	width: 100%;
	height: 50px;
	top: 80px;
	border: 1px solid;
} */
